body {
  text-align: left;
  font-size: 17px;
  font-family: Geneva;
}

li {
  list-style-type: none;
}

.title{
  font-size: 1.2em;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.content {
  margin-left: 5%;
  margin-top: 3%;
}

.component{
  margin-left: 2%;
  margin-top: 1%;
}


#skill li{
  display: inline;
}

#interest li {
  padding: 3px;
  display : inline;
  border: 1px solid;
  border-radius: 7px;
}

.app {
  margin-top: 3%;
}

.app:hover{
  padding:3px;
  border: 1px solid;
  border-radius: 10px;
  border-color: red;
}


.app_info {
  margin-left: 3%;
}

#link li {
  margin-top: .5%;
}

#link li a {
  color: black;
  text-decoration: none;
}

#link li a:hover{
  opacity: .8;
}
