
body, html{ height: 100%;}

body {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

/* nav editting starts*/

/* min */

@media (min-width: 400px){

}

/* medium */

@media (min-width: 780px){

}

/* large */

@media (min-width: 970px){

}

/* large 450px - 650px */

@media (min-width: 0){

  nav {
    background-color: #333;
    height: 4%;
    padding-left: 0;
    color: white;
  }

}

/* large 650px - 800px */

@media (min-width: 650px){

  nav {
    background-color: #333;
    height: 6%;
    padding-left: 0;
    color: white;
  }
}

/* large 800px - 1200px */

@media (min-width: 800px){

  nav {
    background-color: #333;
    height: 8%;
    padding-left: 1%;
    color: white;
  }
}

/* large 1200px - max */

@media (min-width: 1200px){

  nav {
    background-color: #333;
    height: 10%;
    padding-left: 1%;
    color: white;
  }
}

/* min */

@media (min-width: 400px){
  #nav_title {
  float:left;
  width: 50%;
  height:100%;
  vertical-align: middle;
  position: relative;
  }
}

/* medium 500px - 800px */

@media (min-width: 5S00px){

  #nav_title {
  float:left;
  width: 35%;
  height:100%;
  vertical-align: middle;
  position: relative;
  }

}

/* medium 800px - 1100px */

@media (min-width: 800px){

  #nav_title {
  float:left;
  width: 30%;
  height:100%;
  vertical-align: middle;
  position: relative;
  }

}

/* medium 1100px - 1500px */

@media (min-width: 1100px){

  #nav_title {
  float:left;
  width: 25%;
  height:100%;
  vertical-align: middle;
  position: relative;
  }

}

/* large 1500px - max */

@media (min-width: 1500px){
  #nav_title {
  float:left;
  width: 20%;
  height:100%;
  vertical-align: middle;
  position: relative;
  }
}

nav a{
  position:relative;
  top: 30%;
}

/* large 400px - 600px */

@media (min-width: 400px){

  nav a{
    position:relative;
    top: 50%;
    font-size: 3em;
  }

  .nav_content{
    font-size: 3em;
    font-weight: bold;
  }

}

/* large 600px - 900px */

@media (min-width: 600px){

  nav a{
    position:relative;
    top: 50%;
  }

  .nav_content{
    font-size: 2em;
    font-weight: bold;
  }

}

/* large 900px - max */

@media (min-width: 900px){

  nav a{
    position:relative;
    top: 30%;
  }

  .nav_content{
    font-size: 1.5em;
    font-weight: bold;
  }

}

.nav_content:hover{
  cursor: pointer;
  color: red;
  opacity:.6;
}

/* min 0 - 400px*/

@media (min-width: 0){

  #menu {
    float: right;
    width:20%;
    height:100%;
    margin-right: 1%;
    position: relative;
    display: inline-block;
  }

  #menu:hover{
    background: red;
    cursor: pointer;
  }

  .menu_content{
    font-size: 4em;
  }

}

/* min 400px - 800px */

@media (min-width: 400px){
  #menu {
    float: right;
    width:20%;
    height:100%;
    margin-right: 1%;
    position: relative;
    display: inline-block;
  }

  #menu:hover{
    background: red;
    cursor: pointer;
  }

  .menu_content{
    font-size: 3em;
  }

}

/* semi- medium 800px - 1100px */

@media (min-width: 800px){

  #menu {
    float: right;
    width:15%;
    height:100%;
    margin-right: 1%;
    position: relative;
    display: inline-block;
  }

  #menu:hover{
    background: red;
    cursor: pointer;
  }

  .menu_content{
    font-size: 1.5em;
  }

}

/* medium 1100px - 1500px */

@media (min-width: 1100px){

  #menu {
    float: right;
    width:15%;
    height:100%;
    margin-right: 1%;
    position: relative;
    display: inline-block;
  }

  #menu:hover{
    background: red;
    cursor: pointer;
  }

  .menu_content{
    font-size: 1.5em;
  }

}


/* large 1500px - max */

@media (min-width: 1500px){

  #menu {
    float: right;
    width:10%;
    height:100%;
    margin-right: 1%;
    position: relative;
    display: inline-block;
  }

  #menu:hover{
    background: red;
    cursor: pointer;
  }

  .menu_content{
    font-size: 1.5em;
  }

}

/* nav editting ends*/

/* test starts*/

/* test ends*/

/* header editting starts*/

/* small */

@media (min-width: 30px) {

  header{
    background-image: url('https://s3-ap-southeast-2.amazonaws.com/koki25ando/andojump1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 500px;
    background-position: cover;
    height: 40%;
  }
}

/* medium */

@media (min-width: 400px) {

  header{
    background-image: url('https://s3-ap-southeast-2.amazonaws.com/koki25ando/andojump1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 500px;
    background-position: cover;
    height: 50%;
  }
}

/* large */

@media (min-width: 770px) {
  header{
    background-image: url('https://s3-ap-southeast-2.amazonaws.com/koki25ando/andojump1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    height: 90%;
  }
}

#name_introduction{
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
  letter-spacing: 5px;
  font-weight: bold;
  margin: 0;
}

/* min */

@media (min-width: 0px){

  #name_introduction{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 0;
  }

}

/* medium */

@media (min-width: 600px){

  #name_introduction{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    letter-spacing: 4px;
    font-weight: bold;
    margin: 0;
  }

}

/* large */

@media (min-width: 970px){

  #name_introduction{
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    letter-spacing: 5px;
    font-weight: bold;
    margin: 0;
  }

}

/* header editting ends*/

/* min */

@media (min-width: 400px){

  .introduction{
    position: relative;
    display:box;
    float: clear;
    text-align: left;
    background: grey;
    width: 100%;
    height: 40%;
    clear:both;
    margin: 0 auto;
  }

  .introduction p{
    font-size: .85em;
  }

}

/* medium */

@media (min-width: 750px){

  .introduction{
    position: relative;
    display:box;
    float: clear;
    text-align: left;
    background: grey;
    width: 85%;
    height: 30%;
    clear:both;
    margin: 0 auto;
  }

  .introduction p{
    font-size: .9em;
  }

}

/* large */

@media (min-width: 1200px){
  .introduction{
    position: relative;
    display:box;
    float: clear;
    text-align: left;
    background: grey;
    width: 70%;
    height: 30%;
    clear:both;
    margin: 0 auto;
  }

  .introduction p{
    font-size: 1em;
  }

}


.sentence{
  color: white;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 15px;
  font-weight: bold;
}

.sentence:first-letter{
  font-size: 2em;
}

/* table editting starts*/

/* minimum */

@media (min-width: 0){

  .container{
    height:90%;
    background-color: skyblue;
    margin:0 auto;
    display: table;
    width:100%;
  }

}

/* medium */

@media (min-width: 600px){

  .container{
    height:90%;
    background-color: skyblue;
    margin:0 auto;
    display: table;
    width:100%;
  }

}

/* large */

@media (min-width: 970px){

  .container{
    height:90%;
    background-color: skyblue;
    margin:0 auto;
    display: table;
    width:90%;
  }

}

.row{
  display: table-row;
}

.box{
  display: table-cell;

}

.box:hover{
  opacity: .5;
  cursor: pointer;
}

.first{
  background-image: url("http://g.recordit.co/IIK02MsYPX.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second{
  background-image: url("http://g.recordit.co/OGQ0s4obUh.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third{
  background-image: url("http://g.recordit.co/FkT5DqQxFE.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forth{
  background-image: url("http://g.recordit.co/X3ntiuiVOs.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box a {
  text-decoration: none;
}

.app_name{
  color: black;
  font-weight: bold;
  font-size: 2em;
}

/* table editting ends*/

/* footer editting starts*/

footer{
  height: 10%;
}

.follow-me{
  display: inline;
}

.follow-me li {
  display: inline;
  font-size: 2em;
  margin-right: 1%;
  margin-left: 1%;
}

/* min */

@media (min-width: 0px){
  .follow-me li {
    display: inline;
    font-size: 1em;
    margin-right: .5%;
    margin-left: .5%;
  }
}

/* medium */

@media (min-width: 400px){

  .follow-me li {
    display: inline;
    font-size: 1.5em;
    margin-right: 1%;
    margin-left: 1%;
  }

}

/* large */

@media (min-width: 970px){

  .follow-me li {
    display: inline;
    font-size: 2em;
    margin-right: 1%;
    margin-left: 1%;
  }

}

.follow-me li:hover{
  opacity: .5;
}
/* footer editting ends*/
